<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
<div class="col-sm-6 image-class">
  <div class="text-center" style="max-width:600px;max-height:700px; margin-top:2vh;">
  <img style="max-width: 100%;height: auto;"src="{% static 'img/samuray.png' %}" class="rounded img-fluid">
  </div>
  </div>
</div>
<div class="container">
<h1>Thanks for testing it out Mr. Conconi</h1>
    <p> Authorize Withings  <a href="{{ auth_url }}">here </a> so this can actually work lol.</p>
</div>
</body>
</html>